/*all*/

* {
    padding: 0;
    margin: 0;
    font-family: Fixedsys, "Times New Roman";

}

a, a:hover {
    text-decoration: none;
}

body {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
    color: white;
}

/*header*/

header {
    height: 200px;
}

header h2 {
    padding-top: 20px;
    text-align: center;
    font-family: "Komi";
}

/*article*/

/*menu*/

.menu {/*

    background-image: url(images/border.png);
    background-repeat: no-repeat;*/
}

.group {/*group of element of menu*/
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    align-content: center;
    width: auto;
}

.img-menu {/*image from menu*/
    width: 75px;
    height: 75px;
    margin: auto;
    background-size: cover;
    text-align: center;
}

.img-border {
    min-height: 1000px;
    margin: auto;
    background-repeat: no-repeat;
}

.img-about{
    width: 150px;
    height: 150px;
    margin: auto;
    background-size: cover;
    text-align: center;
}

.img-about img {/*image from about*/
    width: 100%;
    height: 100%;
    border: 2px solid red;
    border-radius: 100%;
    background: white;
}

.active h3 {/*for active group*/
    color: #ff2bbb;
}

.group h3 {/*for text in group menu*/
    color: white;
    text-align: center;
    line-height: 0;
}

.caption h3 {
    color: #ff2bbb;
}

.caption h3:hover{
    color: white;
    border: 2px solid #ff2bbb;
/*content*/
}
.block-center{
    margin: auto;
}
/*
.thumbnail {
    
}*/

.main {
    padding-top: 115px;
}

.row-technologie {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 65px;
    padding-right: 65px;
}

.group-article {/*for article*/
    width: auto;
    min-width: 200px;
    min-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    /*background-color: none;*/
}

.image-content {
    width: 200px;
    height: auto;
}

/*footer*/

footer {/*for menu*/
    height: 200px;
    padding-top: 100px;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: top;
}

footer h2 {
    text-align: center;
}

/* FONTS */
@font-face {
    font-family:"Komi";
    src: url(/fonts/10220.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Fixedsys";
    src: url(/fonts/FSEX300.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;    
}